name: ci

on:
  schedule:
    - cron: "0 3 * * 3"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v1.5.1
      -
        name: GitHub Package Registry Login
        uses: docker/login-action@v1.8.0
        with:
          registry: ghcr.io
          username: bixu
          password: ${{ secrets.CONTAINER_REGISTRY_WRITE_TOKEN }}
      -
        name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v2.4.0
        with:
          push: true
          tags: ghcr.io/bixu/hab:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
